useDynLib(ctl, .registration=TRUE)

exportPattern("^[^\\.]")

importFrom("grDevices", "colorRampPalette", "colors", "dev.off", "gray.colors", "png", "postscript", "rgb")
importFrom("graphics", "abline", "axis", "box", "boxplot", "hist", "image", "legend", "lines", "par", "plot", "points", "rect", "text", "xspline")
importFrom("MASS", "mvrnorm")
importFrom("qtl", "pull.pheno", "pull.geno")
importFrom("stats", "anova", "cor", "lm", "median", "pf", "runif", "sd", "pchisq")
importFrom("utils", "data")
importFrom("parallel", "makeCluster", "parLapply", "stopCluster")

S3method(plot, CTLobject)
S3method(print, CTLobject)
S3method(hist, CTLobject)
S3method(image, CTLobject)

S3method(plot, CTLpermute)
S3method(print, CTLpermute)

S3method(plot, CTLscan)
S3method(print, CTLscan)

S3method(plot, CTLnetwork)
S3method(plot, CTLobject)
