*~
mapctl
C/mapctl
D/mapctl
*.obj
*summary.txt
gmon.out
*.so
*.rds
*.Rout
*.dvi
*.Rhistory
*.dll
*.exe
*.map
*.lib
*.a
*.pdf
*.png
Rctl.Rcheck/
*.ppt
old/
data/
*.bin
*.aligned
.project
*.o
.externalToolBuilders/
tests/tmp_kegg
*.attributes
*.sif
*.aux
*.eps
*.Rdata
*.bbl
*.blg
*.tex
node_attributes.txt
*.log
inst/doc/permutations/*
Rctl/src-i386/
Rctl/src-x64/