*~
*.obj
*.dll
*.exe
*.map
*.lib
*.a
*.pdf
*.png
*.ppt
old/
data/
*.bin
*.aligned
.project
*.o
.externalToolBuilders/
tests/tmp_kegg
*.attributes
*.sif
*.aux
*.bbl
*.blg
*.tex
*.log
inst/doc/permutations/*
